#title-text {
    color: #eeeeee;
    font-family: 'Bree Serif', serif;
}

#head {
    height: 85px;
    background-color: #303030;
    box-shadow: -1px -1px 15px black;
}
#CityC-header {
    font-family: 'Bree Serif', serif;
    font-size:40px;
    width: 33%;
}

#CityC-desc {
    color: #807A7A;
    font-family: 'Mulish', sans-serif;
    width: 33%;
    float: right;
}

#button-text {
    font-family: 'Mulish', sans-serif;
}