body {
    background: #F2F0F0;
}

h4, h5 {
    font-family: 'Bree Serif', serif;
}

#title-text {
    color: #eeeeee;
    font-family: 'Bree Serif', serif;
}

#home {
    height: 85px;
    background-color: #303030;
    box-shadow: -1px -1px 15px black;
}

#button-text {
    font-family: 'Mulish', sans-serif;
}

#nav-arrow {
    height: 50px;
}

.p-title {
    font-size: 20px;
    font-style: bold;
    font-family: 'Bree Serif', serif;
}

.p-body {
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
}

.description {
    font-size:16px;
    font-style: italic;
    color: #807A7A;
    font-family: 'Mulish', sans-serif;
}

.section-header {
    font-family: 'Bree Serif', serif;
}

.card-half {
    width: 49%;
    height: 450px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 25px -15px black;
}


.card-full {
    width: 71%;
    height: 1000px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 25px -15px black;
}

.card-full-l {
    width: 71%;
    height: 600px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 25px -15px black;
}

.card-full-xl {
    width: 100%;
    height: 640px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 25px -15px black;
}

.card-full-xxl {
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 25px -15px black;
}

.modebar{
    display: none !important;
}

.radio-group .form-check {
    padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}